# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================

.venv/
venv/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# Environment
# =========================

.env

# =========================
# Pytest
# =========================

.pytest_cache/

# =========================
# MyPy
# =========================

.mypy_cache/

# =========================
# Ruff
# =========================

.ruff_cache/

# =========================
# Coverage
# =========================

.coverage
htmlcov/

# =========================
# macOS
# =========================

.DS_Store